/* 
--charleston-green: #0b2027ff;
--pale-silver: #c3babaff;
--cardinal: #c5283dff;
--dark-sienna: #481d24ff;
--blue-sapphire: #255f85ff; 
*/


.hidden {
  display: none;
}

.semi-opaque {
  background-color: rgba(0, 0, 0, 0.65);
}

.set-inline-block {
  display: inline-block;
}


.home-page {
  color: #fff;
  background-image: url('../public/smokingtire.jpg');
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.listing-item {
  border-radius: 50px;
  padding: 30px;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}

.container-fluid {
  padding: 0 !important;
}

.bg-primary {
  background-color: #F25F5C !important;
}

.btn-primary {
  background-color: #F25F5C;
}

/* start nav */
.navbar-brand {
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: 800 !important;
  font-size: 30px;

}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
  color: rgb(211, 215, 250) !important;
}

/* end nav */